Medical Diagnosis with Support Vector Machines

Task 1: Import Libraries

In [43]:
import numpy as np
from sklearn import *
import pandas as pd
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

Get Data

In [53]:
df = pd.read_csv("https://raw.githubusercontent.com/QYTZER/ML-BIOMSCS/main/heart.csv")
print(df.shape)
df.head()

(303, 14)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

 Extract Features

In [56]:
X = df.drop(["exang","oldpeak","slope","ca","thal","target"],axis=1) 
X.head()

   age  sex  cp  trestbps  chol  fbs  restecg  thalach
0   63    1   3       145   233    1        0      150
1   37    1   2       130   250    0        1      187
2   41    0   1       130   204    0        0      172
3   56    1   1       120   236    0        1      178
4   57    0   0       120   354    0        1      163

Extract Class Labels

In [57]:
y = df['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

Split Dataset

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)
X_test.head()

(227, 8)
(227,)
(76, 8)
(76,)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach
225   70    1   0       145   174    0        1      125
152   64    1   3       170   227    0        0      155
228   59    1   3       170   288    0        0      159
201   60    1   0       125   258    0        0      141
52    62    1   2       130   231    0        1      146

Normalize Features

In [59]:
from sklearn import preprocessing
def convert(data):
    number = preprocessing.LabelEncoder()
    data['age'] = number.fit_transform(data.age)
    data['sex'] = number.fit_transform(data.sex)
    data['cp'] = number.fit_transform(data.cp)
    data['chol'] = number.fit_transform(data.chol	)
    data['fbs'] = number.fit_transform(data.fbs)
    data['thalach'] = number.fit_transform(data.thalach)
    data['trestbps'] = number.fit_transform(data.trestbps)
    data['restecg'] = number.fit_transform(data.restecg	)
    data=data.fillna(-999)
    return data
X_train=convert(X_train)
X_test=convert(X_test)

In [60]:
scaler = StandardScaler() #normalize means we neewd to give a range in which it is expecting
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_train[:5,:]

array([[ 0.35897178,  0.70243936,  0.9870291 ,  0.12755814, -0.46498346,
        -0.42695628, -0.9825655 ,  1.09529083],
       [-0.31726552,  0.70243936, -0.91982712, -1.27030312, -0.29880464,
        -0.42695628,  0.89174012,  0.46400114],
       [-0.09185308,  0.70243936,  0.9870291 ,  1.2258777 , -0.2434117 ,
        -0.42695628, -0.9825655 ,  0.70680487],
       [ 0.471678  ,  0.70243936,  1.94045721,  1.92480834,  0.64287532,
        -0.42695628, -0.9825655 , -0.26441005],
       [ 1.37332772,  0.70243936, -0.91982712, -0.77106696, -0.32650111,
        -0.42695628, -0.9825655 , -0.99282124]])

Training a Support Vector Machine

In [61]:
clf = svm.SVC(kernel='sigmoid') #scikit learn support vector classifier
clf.fit(X_train, y_train)

SVC(kernel='sigmoid')

SVC(kernel='sigmoid')

Decision Boundary

In [62]:
y_pred = clf.predict(X_train)
print(y_pred)
print(accuracy_score(y_train, y_pred))

[1 0 1 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 0 1 1 1 1 1 1 0 0
 0 0 0 1 1 1 1 1 1 1 0 0 1 0 0 1 1 1 0 0 1 1 1 0 1 0 0 1 0 1 1 1 1 1 1 1 1
 1 1 0 0 1 1 0 0 0 1 0 1 0 1 0 1 0 0 1 1 1 1 1 1 0 1 0 1 0 1 1 0 0 1 0 0 0
 1 1 1 0 1 0 1 1 1 1 0 0 0 1 0 0 1 1 0 1 1 1 1 0 0 1 0 0 1 1 1 0 1 1 1 0 0
 1 1 1 0 1 0 0 1 1 0 1 1 0 1 0 1 1 1 1 1 0 0 1 1 0 1 0 1 1 0 1 1 1 1 1 1 1
 1 1 1 0 0 0 0 1 1 0 0 0 1 1 1 0 0 0 1 0 1 1 0 1 0 0 1 0 1 1 0 1 0 0 0 1 0
 0 0 1 1 1]
0.7312775330396476

SVM Kernels

In [63]:
for k in ('linear', 'poly','rbf','sigmoid'):
    clf = svm.SVC(kernel=k)
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_train)
    print(k)
    print(accuracy_score(y_train, y_pred)) #this process of trying different parmeters for our svm is known as Hyperparameter optimisation

linear
0.8105726872246696
poly
0.8502202643171806
rbf
0.8502202643171806
sigmoid
0.7312775330396476

Instantiating the Best Model

In [64]:
clf = svm.SVC(kernel='rbf')
clf.fit(X_train, y_train)

SVC()